*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    letter-spacing: normal;
}
body{
    background-color: #f3e5d7;
}
h1, h2{
    font-family: 'Lora', serif;
}
p, li, th, td {
    font-family: 'Outfit',  sans-serif;
}
p{
    color: #5f564d;
    line-height: 150%;
    margin-bottom: 32px;
}
.modo de preparo  {
    background-color: #fff7fb;
    padding: 28px;
    border-radius: 12px;
    margin-bottom: 32px;
}